/* Room View */
.img-fluid {
  width: 28rem;
  height: 250px;
}
.img-slider {
  margin-left: 365px;
  height: 350px;
  width: 750px;
}
.cards-position {
  margin-top: 50px;
}

.slider-position {
  margin-top: 50px;
}

/* Add Room */
.add-rooms {
  width: 850px;
  height: 650px;
  margin-left: 350px;
  margin-top: 50px;
  background-color: whitesmoke;
  border-radius: 15px;
}

/* Add Rooms */

.add-room-form {
  margin-left: 300px;
  width: 1250px;
}

/* Search Bar */

.room-search {
  width: 500px;
  margin-left: 1000px;
  margin-top: 25px;
}

/* Room Management */

.roommanageList {
  width: 900px;
  margin-top: 25px;
}

.room-management-btn-edit-dlt {
  margin-left: 48px;
  margin-top: 25px;
}

.roommanagementBtn {
  margin-top: 25px;
}

#roommanagementIMG {
  height: 80px;
  width: 149px;
}
