.img-fluid {
  width: 28rem;
  height: 250px;
}
.img-slider {
  width: 1200px;
  height: 500px;
  margin-left: 165px;
}
.cards-position {
  margin-top: 50px;
}

.slider-position {
  margin-top: 20px;
}
